@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600");
@import url("https://api.fontshare.com/css?f[]=inter@400,600&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

.gestion-de-usuarios-frame-4 {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  box-sizing: border-box;
  width: 287px;
  background-color: white;
  color: rgba(30, 109, 166, 1);
}

.cuerpoGestion{
  padding-top: 58px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 556px;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-grow: 1;
  border-radius: 16px;
  width: 100%;
}

.botonesFiltro {/*modf Eliseo*/
  align-items: center;
  display: flex;
  gap: 2vw;
  box-sizing: border-box;
  height: 6%;
  width: 100%;
  min-width: 50%;
  max-width: 90%;
  padding: 0 4vw;
}

.botonFiltroActivo {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 16px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  gap: 10px;

  box-shadow: 0px 0px 0px 2px rgba(30, 109, 166, 1) inset;
  box-sizing: border-box;
  width: 50%;
  background-color: rgba(30, 109, 166, 1);
  color: white;
}

.botonFiltro {/*modf Eliseo*/
  transition-property: all;
  width: 100%;
  font-size: 1.3vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.botonFiltroDesactivo {/*modf Eliseo*/
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 16px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  gap: 10px;
  box-shadow: 0px 0px 0px 2px rgba(30, 109, 166, 1) inset;
  box-sizing: border-box;
  width: 50%;
  background-color: white;
  color: rgba(30, 109, 166, 1);
}

.BuscaYCrea {/*modf Eliseo*/
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 25px;
  box-sizing: border-box;
  height: 56px;
  width: 90%;
  max-width: 894px;
}

.buscarInput {/*modf Eliseo*/
  font-weight: 400;
  text-align: left;
  color: rgba(121, 121, 121, 1);
  font-family: Inter;
  padding: 16px;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  gap: 12px;
  box-shadow: 0px 0px 0px 2px rgba(121, 121, 121, 1) inset;
  box-sizing: border-box;
  width: 70%;
  max-width: 658px;
  flex-grow: 1;
}

.crearBoton {/*modf Eliseo*/
  padding: 16px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  background-color: rgba(30, 109, 166, 1);
  box-sizing: border-box;
  width: 30%;
  max-width: 211px;
}

.crearBoton1 {/*modf Eliseo*/
  font-size: 1vw;
}

.cuerpoUsuarios {
  padding-top: 12px;
  padding-right: 29px;
  padding-left: 40px;
  padding-bottom: 12px;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  background-color: rgba(128, 175, 209, 1);
  display: flex;
  width: 100%;
  flex-grow: 1;
  border-radius: 16px;
  font-weight: 600;
}

.imagenUsuario {/*modf Eliseo*/
  background-repeat: no-repeat;
  background-position: -0.02px -5.3px;
  background-size: cover;
  border-radius: 50%;
  box-sizing: border-box;
  height: 71px;
  width: 71px;
}

.nombreDocenteBox{/*modf Eliseo*/
  width: 30%;
}

.DocenteNombreTxt {/*modf Eliseo*/
  width: 100%;
  font-size: 100%;
}

.DocenteDescripcionTxt {/*modf Eliseo*/
  width: 100%;
  font-size: 100%;
}

.BotonEdit {/*modf Eliseo*/
  color: rgba(30, 109, 166, 1);
  padding: 16px;
  border-radius: 16px;
  margin-left: 20%;
  align-items: flex-start;
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  width: 15%;
  height: 25%;

}

.BotonEditSymbol {/*modf Eliseo*/
  height: 24px;
  min-width: 24px;
  width: 25%;
}

.BotonEditarText {/*modf Eliseo*/
  width: 75%;
  min-width: 16px;
  font-size: 1.3vw;
}

.BotonVerMas {/*modf Eliseo*/
  color: rgba(30, 109, 166, 1);
  padding: 16px;
  border-radius: 16px;
  align-items: flex-start;
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  height: 25%;
  width: 15%;
  min-height: 50px;

}

.BotonVerMasText {/*modf Eliseo*/
  width: 75%;
  min-width: 16px;
  font-size: 1.3vw;
}

@media (max-width: 768px) {
  .BotonEdit{
    margin-left: 0%;
  }
  .nombreDocenteBox {/*modf Eliseo*/
    width: 50%;
  }

  .crearBoton1{
    font-size: 13px;
  }
  .botonFiltro{
    font-size: 13px;
  }

  .imagenUsuario{
    display: none;
  }
  .BotonVerMasText {
    display: none;
  }
  .BotonEditarText {
    display: none;
  }

}
