@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600");
@import url("https://api.fontshare.com/css?f[]=inter@400,600&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

.gestion-de-usuarios-box_3085box_99101438x {
  justify-content: space-between;
  flex-direction: column;
  gap: 0;
  width: 1440px;
  height: 1024px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
  display: flex;
  font-family: Inter;
  text-align: left;
}

.gestion-de-usuarios-header {
  width: 1440px;
  box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 60px;
  padding-right: 1247px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
}

.gestion-de-usuarios-logo-aseis-news-letras-1x {
  background-size: cover;
  background-position: center;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/e91909b1b4ba334a9e90847fddc3083e5461b6af.webp);
  box-sizing: border-box;
  height: 63px;
  width: 133px;
}

.gestion-de-usuarios-box_99101438x {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 22px;
  box-sizing: border-box;
}

.gestion-de-usuarios-side-menu {
  padding-right: 44px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-top: 55px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  height: 100%;
  width: 371px;
}

.gestion-de-usuarios-box_9910299108x {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  gap: 370px;
  box-sizing: border-box;
}

.gestion-de-usuarios-frame-34x {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  gap: 21px;
}

.gestion-de-usuarios-frame-2 {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  box-sizing: border-box;
  width: 287px;
  background-color: rgba(30, 109, 166, 1);
  color: white;
}

.gestion-de-usuarios-gestin-de-usuarios {
  transition-property: all;
  font-size: 20px;
  width: 193;
}

.gestion-de-usuarios-frame {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  box-sizing: border-box;
  width: 287px;
  background-color: white;
  color: rgba(30, 109, 166, 1);
}

.gestion-de-usuarios-gestin-de-usuarios-0 {
  transition-property: all;
  font-size: 20px;
  width: 213;
}

.gestion-de-usuarios-frame-0 {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  box-sizing: border-box;
  width: 287px;
  background-color: white;
  color: rgba(30, 109, 166, 1);
}

.gestion-de-usuarios-gestin-de-usuarios-1 {
  transition-property: all;
  font-size: 20px;
  width: 176;
}

.gestion-de-usuarios-frame-1 {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  box-sizing: border-box;
  width: 287px;
  background-color: white;
  color: rgba(30, 109, 166, 1);
}

.gestion-de-usuarios-gestin-de-usuarios-2 {
  transition-property: all;
  font-size: 20px;
  width: 215;
}

.gestion-de-usuarios-frame-3 {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  box-sizing: border-box;
  width: 287px;
  background-color: white;
  color: rgba(30, 109, 166, 1);
}

.gestion-de-usuarios-gestin-de-usuarios-3 {
  transition-property: all;
  font-size: 20px;
  width: 181;
}

.gestion-de-usuarios-frame-4 {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  box-sizing: border-box;
  width: 287px;
  background-color: white;
  color: rgba(30, 109, 166, 1);
}

.gestion-de-usuarios-gestin-de-usuarios-4 {
  transition-property: all;
  font-size: 20px;
  width: 131;
}

.gestion-de-usuarios-box_box_88698871box_94119796212762x {
  padding-top: 58px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 556px;
  align-items: center;
  flex-direction: column;
  gap: 45px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-grow: 1;
  border-radius: 16px;
}

.gestion-de-usuarios-box_88698871x {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 50px;
  box-sizing: border-box;
  height: 56px;
  width: 568px;
}

.gestion-de-usuarios-frame-32x-2 {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 16px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  gap: 10px;
  box-shadow-width: 2px;
  box-shadow: 0px 0px 0px 2px rgba(30, 109, 166, 1) inset;
  box-sizing: border-box;
  width: 259px;
  background-color: rgba(30, 109, 166, 1);
  color: white;
}

.gestion-de-usuarios-docentes {
  transition-property: all;
  font-size: 20px;
  width: 93;
}

.gestion-de-usuarios-frame-32x {
  transition-property: all;
  font-weight: 600;
  text-align: left;
  font-family: Inter;
  padding: 16px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  gap: 10px;
  box-shadow-width: 2px;
  box-shadow: 0px 0px 0px 2px rgba(30, 109, 166, 1) inset;
  box-sizing: border-box;
  width: 259px;
  background-color: white;
  color: rgba(30, 109, 166, 1);
}

.gestion-de-usuarios-docentes-0 {
  transition-property: all;
  font-size: 20px;
  width: 115;
}

.gestion-de-usuarios-box_941197962x {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 25px;
  box-sizing: border-box;
  height: 56px;
  width: 894px;
}

.gestion-de-usuarios-frame-33x-1 {
  font-weight: 400;
  text-align: left;
  color: rgba(121, 121, 121, 1);
  font-family: Inter;
  padding: 16px;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  gap: 12px;
  box-shadow-width: 2px;
  box-shadow: 0px 0px 0px 2px rgba(121, 121, 121, 1) inset;
  box-sizing: border-box;
  width: 658px;
  flex-grow: 1;
}

.gestion-de-usuarios-vector {
  height: 18px;
  width: 18px;
}

.gestion-de-usuarios-buscar {
  width: 81px;
  font-size: 20px;
}

.gestion-de-usuarios-frame-31x {
  padding: 16px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  background-color: rgba(30, 109, 166, 1);
  box-sizing: border-box;
  width: 211px;
}

.gestion-de-usuarios-nuevo-docente {
  width: 144px;
  font-size: 20px;
}

.gestion-de-usuarios-box_12763box_12764127651277312774x {
  padding-top: 12px;
  padding-right: 29px;
  padding-left: 40px;
  padding-bottom: 12px;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  background-color: rgba(128, 175, 209, 1);
  display: flex;
  width: 100%;
  flex-grow: 1;
  border-radius: 16px;
  font-weight: 600;
}

.gestion-de-usuarios-ellipse-9x {
  background-repeat: no-repeat;
  background-position: -0.02px -5.3px;
  background-size: 100% 149.98%;
  background-image: url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/c4e084354e7997e0b8a8c246ef6aec37158d5265.webp);
  border-radius: 9999px;
  box-sizing: border-box;
  height: 71px;
  width: 71px;
}

.gestion-de-usuarios-box_1276412765x {
  color: rgba(0, 0, 0, 1);
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  gap: 8px;
  box-sizing: border-box;
}

.gestion-de-usuarios-hctor-javier-paiz-r {
  width: 246px;
  height: 24px;
  font-size: 20px;
}

.gestion-de-usuarios-docente {
  width: 82px;
  height: 24px;
  font-size: 20px;
}

.gestion-de-usuarios-frame-38x {
  color: rgba(30, 109, 166, 1);
  padding: 16px;
  border-radius: 16px;
  margin-left: 254px;
  align-items: flex-start;
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}

.gestion-de-usuarios-material-symbols-edit {
  height: 24px;
  width: 24px;
}

.gestion-de-usuarios-editar {
  width: 57px;
  font-size: 20px;
}

.gestion-de-usuarios-frame-39x {
  color: rgba(30, 109, 166, 1);
  padding: 16px;
  border-radius: 16px;
  align-items: flex-start;
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}

.gestion-de-usuarios-ep-user-filled {
  height: 24px;
  width: 24px;
}

.gestion-de-usuarios-ver-ms {
  width: 79px;
  font-size: 20px;
}
