/* Estilos para la tarjeta con los datos del docente listado*/

.tarjetaDatosDoc {
    width: 780px;
    height: 450px;
    border-radius: 16px;
    background: #132D3C;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.contenedor-tarjeta {
    margin: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 525px;
}

.boton-editar {
    text-align: center;
    margin-top: 20px; /* Puedes ajustar el margen superior según tu preferencia */
}

#btn-editarPerfilDocente {
    background: #2E86DE;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.profile-image {
    margin-top: 0%;
}

/* Estilos para el contenido del perfil */
.profile-image img {
    width: 180px;
    height: 180px;
    border: 2px solid #333;
    margin: auto;
    border-radius: 50%;
}

/* Estilos para el contenido del perfil EN MODAL*/
.imagenModPerfil img{
    width: 180px;
    height: 180px;
    border: 2px solid #333;
    margin: auto;
    border-radius: 50%;
}

/*FONDO DEBAJO DEL ICONO DE CAMARA*/
.camera-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:#D9D9D9;
    position: absolute;
    bottom: 50px;
    right: 25px;
    cursor: pointer;
}
/* ESTILOS PARA CAMARITA ENCIMA DE IMAGEN DE PERFIL*/
.camera-icon i{
    font-size: 24px;
    color: black; 
    position: relative;
}

/* posicion de background del icono de camara*/
.image-label {
    position: relative;
    width: 232px;
    height: 232px;
}

#textBtnEditar{
    font-family: Inter;
font-style: normal;
font-weight: 600;
line-height: normal;
}
/*Estilos para boton Editar Perfil Docente*/
#btn-editarPerfilDocente {
    display: flex;
    width: 450px;
    height: 50px;
    padding: 0px;
    border: 0px;
    background: #8d8d8d;
    color: #fff;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 26px;
    margin: auto;
}
/*Aplicando espacio entre icono y texto editar*/
#btn-editarPerfilDocente i {
    font-size: 20px; 
    margin-right: 10px; 
}

/* Estilos para foto de perfil */
.foto-redonda {
    width: 232px;
    height: 232px;
    flex-shrink: 0;
    border-radius: 50%;
    background: lightgray 0.139px -36.941px / 100% 149.982% no-repeat;
}

.textTarjetaDoc {
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Cambia el color del texto a blanco */
.text-contenido {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 10px;
}

/*APLICANDO EL MOVIMIENTO DEL MODAL/*/
.modal.modal-move-in-right.show {
    animation: moveInRight 700ms ease-out;
}

@keyframes moveInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.modal-dialog {
    position: absolute;
    left: 20%;
    transform: translate(-20%);
}

.modal-body{
    width: 900px;
    height: 550px;
    border-radius: 16px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}   
.grupoBotones {
    margin-top: 20px;
    
} 
.button-common{
    width: 150px;
    height: 36px;
    padding: 5px;
    border-radius: 10px;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: transparent;
}
.btn-GuardCambios {
    background-color: #1F76BD;
    color: #FFFFFF;
    margin-left: 30px;
}

.btn-Cancelar {
    background-color: #CECECE;
    color: #000000;
}

.btn-desactivar:active,
.btn-desactivar:focus,
.btn-desactivar:active:focus {
    box-shadow: none;
    outline: none;
    border-color: #FFFFFF;
}

.inputsArriba {
    display: inline-block;
    align-items: center;
    margin-bottom: 20px; 
}

#campo1 {
    width: 380px;
    height: 50px;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid #797979;
    display: flex;
    align-items: center; 
    margin:auto;
    font-family: Inter, sans-serif;
    font-size: 20px;
}
#campo2{
    width: 380px;
    height: 50px;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid #797979;
    display: flex;
    align-items: center; 
    font-family: Inter, sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

#campo3{
    width: 791px;
    height: 130px;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid #797979;
    display: flex;
    align-items: flex-start; 
    font-family: Inter, sans-serif;
    font-size: 20px; 
}

/* Media query para móvil pequeño (360 x 640 px) */
@media (max-width: 360px) {
    .tarjetaDatosDoc {
        width: 100%;
        height: auto;
    }
    .contenedor-tarjeta {
        margin: 2%;
        height: auto;
    }
    .boton-editar {
        margin-top: 10px;
    }
    #btn-editarPerfilDocente {
        width: 100%;
    }
    .profile-image img, .imagenModPerfil img {
        width: 40%;
        height: auto;
    }
    .camera-icon {
        width: 20%;
        height: auto;
    }
    .camera-icon i {
        font-size: 16px;
    }
    .image-label {
        width: 80%;
        height: auto;
    }
    #textBtnEditar {
        font-size: 14px;
    }
    #btn-editarPerfilDocente {
        height: 40px;
        font-size: 18px;
    }
    .foto-redonda {
        width: 80%;
        height: auto;
    }
    .textTarjetaDoc {
        font-size: 24px;
    }
    .text-contenido {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .modal-body {
        width: 100%;
        height: auto;
    }
    .button-common {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .btn-GuardCambios {
        margin-left: 20px;
    }
    .btn-Cancelar {
        margin-left: 0;
    }
    .inputsArriba {
        margin-bottom: 10px;
    }
    #campo1, #campo2 {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin-left: 0;
    }
    #campo3 {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }
}

/* Media query para móvil medio (375 x 667 px) */
@media (max-width: 375px) {
    .tarjetaDatosDoc {
        width: 100%;
        height: auto;
    }
    .contenedor-tarjeta {
        margin: 2%;
        height: auto;
    }
    .boton-editar {
        margin-top: 10px;
    }
    #btn-editarPerfilDocente {
        width: 100%;
    }
    .profile-image img, .imagenModPerfil img {
        width: 40%;
        height: auto;
    }
    .camera-icon {
        width: 20%;
        height: auto;
    }
    .camera-icon i {
        font-size: 16px;
    }
    .image-label {
        width: 80%;
        height: auto;
    }
    #textBtnEditar {
        font-size: 14px;
    }
    #btn-editarPerfilDocente {
        height: 40px;
        font-size: 18px;
    }
    .foto-redonda {
        width: 80%;
        height: auto;
    }
    .textTarjetaDoc {
        font-size: 24px;
    }
    .text-contenido {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .modal-body {
        width: 100%;
        height: auto;
    }
    .button-common {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .btn-GuardCambios {
        margin-left: 20px;
    }
    .btn-Cancelar {
        margin-left: 0;
    }
    .inputsArriba {
        margin-bottom: 10px;
    }
    #campo1, #campo2 {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin-left: 0;
    }
    #campo3 {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }
}

/* Media query para smartphone grande (720 x 1280 px) */
@media (max-width: 720px) {
    .tarjetaDatosDoc {
        width: 100%;
        height: auto;
    }
    .contenedor-tarjeta {
        margin: 2%;
        height: auto;
    }
    .boton-editar {
        margin-top: 10px;
    }
    #btn-editarPerfilDocente {
        width: 100%;
    }
    .profile-image img, .imagenModPerfil img {
        width: 40%;
        height: auto;
    }
    .camera-icon {
        width: 20%;
        height: auto;
    }
    .camera-icon i {
        font-size: 16px;
    }
    .image-label {
        width: 80%;
        height: auto;
    }
    #textBtnEditar {
        font-size: 14px;
    }
    #btn-editarPerfilDocente {
        height: 40px;
        font-size: 18px;
    }
    .foto-redonda {
        width: 80%;
        height: auto;
    }
    .textTarjetaDoc {
        font-size: 24px;
    }
    .text-contenido {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .modal-body {
        width: 100%;
        height: auto;
    }
    .button-common {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .btn-GuardCambios {
        margin-left: 20px;
    }
    .btn-Cancelar {
        margin-left: 0;
    }
    .inputsArriba {
        margin-bottom: 10px;
    }
    #campo1, #campo2 {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin-left: 0;
    }
    #campo3 {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }
}

/* Media query para tablet y pantallas medianas */
@media (max-width: 1024px) {
    .tarjetaDatosDoc {
        width: 100%;
        height: auto;
    }
    .contenedor-tarjeta {
        margin: 2%;
        height: auto;
    }
    .boton-editar {
        margin-top: 10px;
    }
    #btn-editarPerfilDocente {
        width: 100%;
    }
    .profile-image img, .imagenModPerfil img {
        width: 40%;
        height: auto;
    }
    .camera-icon {
        width: 20%;
        height: auto;
    }
    .camera-icon i {
        font-size: 16px;
    }
    .image-label {
        width: 80%;
        height: auto;
    }
    #textBtnEditar {
        font-size: 14px;
    }
    #btn-editarPerfilDocente {
        height: 40px;
        font-size: 18px;
    }
    .foto-redonda {
        width: 80%;
        height: auto;
    }
    .textTarjetaDoc {
        font-size: 24px;
    }
    .text-contenido {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .modal-body {
        width: 100%;
        height: auto;
    }
    .button-common {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .btn-GuardCambios {
        margin-left: 20px;
    }
    .btn-Cancelar {
        margin-left: 0;
    }
    .inputsArriba {
        margin-bottom: 10px;
    }
    #campo1, #campo2 {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin-left: 0;
    }
    #campo3 {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }
}

/* Media query para dispositivos iPhone 5, 5s, SE (1st Gen) */
@media (max-width: 320px) {
    .tarjetaDatosDoc {
        width: 100%;
        height: auto;
    }
    .contenedor-tarjeta {
        margin: 2%;
        height: auto;
    }
    .boton-editar {
        margin-top: 10px;
    }
    #btn-editarPerfilDocente {
        width: 100%;
    }
    .profile-image img, .imagenModPerfil img {
        width: 40%;
        height: auto;
    }
    .camera-icon {
        width: 20%;
        height: auto;
    }
    .camera-icon i {
        font-size: 16px;
    }
    .image-label {
        width: 80%;
        height: auto;
    }
    #textBtnEditar {
        font-size: 14px;
    }
    #btn-editarPerfilDocente {
        height: 40px;
        font-size: 18px;
    }
    .foto-redonda {
        width: 80%;
        height: auto;
    }
    .textTarjetaDoc {
        font-size: 24px;
    }
    .text-contenido {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .modal-body {
        width: 100%;
        height: auto;
    }
    .button-common {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .btn-GuardCambios {
        margin-left: 20px;
    }
    .btn-Cancelar {
        margin-left: 0;
    }
    .inputsArriba {
        margin-bottom: 10px;
    }
    #campo1, #campo2 {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin-left: 0;
    }
    #campo3 {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }
}

/* Media query para iPhone 6, 6s, 7, 8, SE (2nd Gen) */
@media (max-width: 375px) {
    .tarjetaDatosDoc {
        width: 100%;
        height: auto;
    }
    .contenedor-tarjeta {
        margin: 2%;
        height: auto;
    }
    .boton-editar {
        margin-top: 10px;
    }
    #btn-editarPerfilDocente {
        width: 100%;
    }
    .profile-image img, .imagenModPerfil img {
        width: 40%;
        height: auto;
    }
    .camera-icon {
        width: 20%;
        height: auto;
    }
    .camera-icon i {
        font-size: 16px;
    }
    .image-label {
        width: 80%;
        height: auto;
    }
    #textBtnEditar {
        font-size: 14px;
    }
    #btn-editarPerfilDocente {
        height: 40px;
        font-size: 18px;
    }
    .foto-redonda {
        width: 80%;
        height: auto;
    }
    .textTarjetaDoc {
        font-size: 24px;
    }
    .text-contenido {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .modal-body {
        width: 100%;
        height: auto;
    }
    .button-common {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .btn-GuardCambios {
        margin-left: 20px;
    }
    .btn-Cancelar {
        margin-left: 0;
    }
    .inputsArriba {
        margin-bottom: 10px;
    }
    #campo1, #campo2 {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin-left: 0;
    }
    #campo3 {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }
}

/* Media query para iPhone 9, 10, 11, 12, 12 Pro */
@media (max-width: 375px) {
    .tarjetaDatosDoc {
        width: 100%;
        height: auto;
    }
    .contenedor-tarjeta {
        margin: 2%;
        height: auto;
    }
    .boton-editar {
        margin-top: 10px;
    }
    #btn-editarPerfilDocente {
        width: 100%;
    }
    .profile-image img, .imagenModPerfil img {
        width: 40%;
        height: auto;
    }
    .camera-icon {
        width: 20%;
        height: auto;
    }
    .camera-icon i {
        font-size: 16px;
    }
    .image-label {
        width: 80%;
        height: auto;
    }
    #textBtnEditar {
        font-size: 14px;
    }
    #btn-editarPerfilDocente {
        height: 40px;
        font-size: 18px;
    }
    .foto-redonda {
        width: 80%;
        height: auto;
    }
    .textTarjetaDoc {
        font-size: 24px;
    }
    .text-contenido {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .modal-body {
        width: 100%;
        height: auto;
    }
    .button-common {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .btn-GuardCambios {
        margin-left: 20px;
    }
    .btn-Cancelar {
        margin-left: 0;
    }
    .inputsArriba {
        margin-bottom: 10px;
    }
    #campo1, #campo2 {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin-left: 0;
    }
    #campo3 {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }
}

/* Media query para dispositivos Samsung */
@media (max-width: 360px) {
    .tarjetaDatosDoc {
        width: 100%;
        height: auto;
    }
    .contenedor-tarjeta {
        margin: 2%;
        height: auto;
    }
    .boton-editar {
        margin-top: 10px;
    }
    #btn-editarPerfilDocente {
        width: 100%;
    }
    .profile-image img, .imagenModPerfil img {
        width: 40%;
        height: auto;
    }
    .camera-icon {
        width: 20%;
        height: auto;
    }
    .camera-icon i {
        font-size: 16px;
    }
    .image-label {
        width: 80%;
        height: auto;
    }
    #textBtnEditar {
        font-size: 14px;
    }
    #btn-editarPerfilDocente {
        height: 40px;
        font-size: 18px;
    }
    .foto-redonda {
        width: 80%;
        height: auto;
    }
    .textTarjetaDoc {
        font-size: 24px;
    }
    .text-contenido {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    .modal-body {
        width: 100%;
        height: auto;
    }
    .button-common {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
    .btn-GuardCambios {
        margin-left: 20px;
    }
    .btn-Cancelar {
        margin-left: 0;
    }
    .inputsArriba {
        margin-bottom: 10px;
    }
    #campo1, #campo2 {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin-left: 0;
    }
    #campo3 {
        width: 100%;
        height: 80px;
        font-size: 16px;
    }
}
